.border-radius(@radius1:0px, @radius2:0px, @radius3:0px, @radius4:0px) {
   border-radius: @radius1 @radius2 @radius3 @radius4;
  -moz-border-radius: @radius1 @radius2 @radius3 @radius4;
  -webkit-border-radius: @radius1 @radius2 @radius3 @radius4;
}

.verticalGradient(@stop1:0, @color1:#ccc, @stop2:100%, @color2:#ddd){
    background:@color2;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(@stop1, @color1), color-stop(@stop2, @color2));
    background:-moz-linear-gradient(top, @color1 @stop1, @color2 @stop2);
    background:-ms-linear-gradient(top, @color1 @stop1, @color2 @stop2);
    background:-o-linear-gradient(top, @color1 @stop1, @color2 @stop2);
    background:linear-gradient(top, @color1 @stop1, @color2 @stop2);
    filter: e(%("progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=%d,endColorstr=%d)", @color1, @color2));
}

html{height: 100%;}
body{
    background: #fce1ce;
    font-family: Verdana, sans-serif;
    padding: 0 5px;
    height: 100%;
}


button, input[type=submit], a.button{
    background: #f65b00;
    border: 0;
    display: inline-block;
    .border-radius(10px, 10px, 10px, 10px);
    color: #fff;
    font-weight: bold;
    padding: 7px 20px;
    font-size: 18px;

    &:hover{
        text-decoration: none;
        background: #f53700;
    }
}



textarea, input[type=text], input[type=password] {
    background: #fae6da;
    border: 0;

    &.error{
        background: #ff8594;
        color: #fff;
    }
}

 input[type=text], input[type=password], select{height: 25px;width: 100%;}

label{
    color: #f75c00;
    font-weight: bold;
    padding-bottom: 5px;
    display: inline-block;
    vertical-align: top;
}


#main-wrapper{
    width: 100%;
}

#left-wrapper{
    width: 340px;
    padding: 0 20px;
    background: url('img/filter_img.png') no-repeat center 9px;
    float: left;
    text-align: center;
}

#right-wrapper{
    margin-left: 380px;
}

#filter{
    margin-top: 110px;
    border: 4px solid #f75d00;
    .border-radius(10px, 10px, 10px, 10px);
    text-align: center;
    padding: 40px 20px 20px 20px;
}

#filter h3{
    font-size: 18px;
    color: #ec5a02;
    font-weight: bold;
}

#filter #filter-form{
    text-align: left;
    margin-top: 20px;
}

#filter #filter-form .filter-param{margin-bottom: 25px;}
#filter #filter-form .filter-param label{
    width: 100px;
    font-size: 23px;
    text-align: left;
    display: inline-block;
    font-weight: normal;
    color: #000;
}

#filter #filter-form .filter-param select{width: 185px; height: 25px;}

#filter #submit-filter{
    border: none;
    font-size: 27px;
    font-weight: bold;
    color: #fff;
    background: #f75d00;
    padding: 10px 47px;
    .border-radius(10px, 10px, 10px, 10px);
}

#left-wrapper #new-item{
    color: #f75d00;
    font-weight: bold;
    font-size: 30px;
    text-decoration: underline;
    padding-top: 20px;
    display: inline-block;

}

#header{
    height: 140px;
    margin-bottom: 5px;
}

#header-left, #header-right{
    width: 210px;
    height: 100%;
    margin-top: -111px;
}

#header-left{
    background: url('img/header_left.png') no-repeat left top;
    float: left;
}
#header-right{
    background: url('img/header_right.png') no-repeat left top;
    float: right;
}

#header-content{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    color: #f75d00;
    font-family: cursive;
}


#footer_1, #footer_2{
    border-top: 4px solid #f66903;
    padding: 20px 0;
}

#content{
}



.block{margin-bottom: 15px;}
.block .block-header{
    .verticalGradient(0, rgba(254,136,17,1), 100%, rgba(245,99,17,1));
    color: white;
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding: 9px 16px;
}

.block .block-header .header-left{
    display: block;
    float: left;
}

.block .block-header .header-right{
    display: block;
    float: right;
}

.block .block-content{
    background: #fff;
    padding: 4px;
}

.login-param{
    display: inline-block;
    width: 200px;
    margin-right: 15px;
}

.login-block{
    width: 450px;
    margin: 0 auto;
}

.login-block .buttons{margin-top: 15px;}
.login-block .buttons *{
    padding-left: 40px;
    padding-right: 40px;
    margin-right: 15px;
}

#register-block{margin-top: 15px; display: none;}

.register-block{width: 506px; margin: 0 auto;}

.register-block .register-param{
    margin: 8px 0;
    padding-bottom: 3px;
    border-bottom: 1px dotted #F65B00;
}

.register-block .register-param label{
    width: 200px;
    display: inline-block;
}

.register-block .register-param input[type=text],.register-block .register-param input[type=password],.register-block .register-param textarea,.register-block .register-param select{width: 300px;}
.register-block .register-param textarea{height: 80px;}

.register-block .buttons{text-align: center;}


#profile_data{
    margin: 0 5px 15px;
}

#profile_data .profile-param{
    width: 22%;
    display: inline-block;
    margin-top: 15px;
    vertical-align: top;
}

#profile_data .profile-param textarea{height: 80px;width: 100%;}
#profile_data .profile-param select{width: 100%;}

#profile_data .profile-param input, #profile_data .profile-param textarea, #profile_data .profile-param select{display:none;}

#profile_data .profile-param label{
    display: block;
}

#profile_data #save_profile{margin-top: 27px;}

.profile-empty{
    text-align: center;
    padding: 20px 0;
    font: 50px cursive;
    color: #666;
}

#new-item{padding: 5px 20px 5px 10px;}

#new-item .top-info .param{
    display: inline-block;
    text-align: center;
    margin-right: 15px;
}
#new-item .top-info .param.birthday-param{width: 194px; margin-right: 0;}
#new-item .top-info .param.plant-param{width: 358px;}

#new-item .top-info .param label{display: block;}

#new-item .organization-block{
    .border-radius(4px, 4px, 4px, 4px);
    border: 1px solid #938c8c;
    margin: 10px 0;
    padding: 3px;
    display: none;
}
#new-item .organizations-wr .organization-block:first-child{display: block;}

#new-item .organization-block .header{
    font-size: 11px;
    color: #413e3d;
    margin-bottom: 3px;
    span{
        color: #f65b00;
        font-weight: bold;
        font-size: 13px;
    }
}

#new-item .organization-block label{
    font-size: 11px;
    color: #030202;
    font-weight: normal;
    padding-top: 4px;
}

#new-item .parent{
    width: 48%;
    display: inline-block;
    .border-radius(4px, 4px, 4px, 4px);
    border: 1px solid #938c8c;
    padding: 3px;

    &#father{float: right;}
}

#new-item .parent .params-block .param{
    display: inline-block;

    &.name{width: 70%;}
    &.age{width: 25%;}
    &.weight{width: 70px;}
    &.height{width: 70px;}
}

#new-item .parent .header{
    text-align: center;
    color: #f75c00;
    font-weight: bold;
    border-bottom: 1px solid #938c8c;
    padding-bottom: 3px;
    margin-bottom: 5px;
}

#new-item .parent .param label{margin-top: 3px;}

#new-item .main-params{
    .border-radius(4px, 4px, 4px, 4px);
    border: 1px solid #938c8c;
    padding: 3px;
    margin: 10px 0;
    display: none;
}

#new-item .main-params-wr .main-params:first-child{display: block;}

#new-item .main-params .param{
    display: inline-block;
    margin-right: 15px;

    &.weight{width: 70px;}
    &.height{width: 70px;}
    &.sex{width: 90px;}
}

#new-item .bottom-params{margin-right: 200px;}
#new-item .bottom-params .param label{display: block;}
#new-item .bottom-params .param.video{width: 350px;margin-bottom: 10px;}
#new-item .bottom-params .param textarea{width: 100%; height: 100px;}


#new-item .images{
    .border-radius(4px, 4px, 4px, 4px);
    border: 1px solid #938c8c;
    padding: 3px;
    margin: 15px 0;
}

#new-item .images .image{margin: 5px 0;}

#new-item .param.another input{width: 90%;}
#new-item .param.another p.sample{font-size: 10px;}

#new-item .param.price{margin-top:10px;}
#new-item .param.price .valute{font-weight: bold; color: #F75C00;margin-left: 5px;}
#new-item .param.price label{display:inline-block;padding-top: 2px;}
#new-item .param.price input{width: 80px}
#new-item .param.price .price-commission{display: inline-block}
#new-item .param.price .price-commission .value{font-weight: bold; color: #F75C00;}

#new-item .agreement{
     .border-radius(4px, 4px, 4px, 4px);
     border: 1px solid #938c8c;
     padding: 8px;
     margin: 15px 0;
     display: none;
}

#new-item .agreement-type label{padding-top: 2px;}
#new-item .agreement-type select{width: 200px;}
#new-item .agreement .agreement-content{display: none;}
#new-item .agreement .agreement-content#agreement_free{display: block;}
#new-item .agreement .agreement-checkbox{margin-top: 10px;}
#new-item .agreement .agreement-checkbox label{font-size: 11px;}
#new-item .agreement .agreement-checkbox input{margin-right: 2px;}

#new_item_submit{
    margin: 20px auto;
    display: block;
    width: 535px;
}


#new-item .documents{
     .border-radius(4px, 4px, 4px, 4px);
     border: 1px solid #938c8c;
     padding: 8px;
     margin: 15px 0;
     width: 150px;
     display: none;
     float: right;
}
#new-item .documents-wr .documents:first-child{display: block;}

#new-item .documents .header{text-align: center; display: block;}
#new-item .documents label.document{
    color: #030202;
    font-weight: normal;
    font-size: 12px;
    display: block;
    margin-left: 7px;
}
#new-item .documents label input{margin-right: 7px;}

#new-item #price-loader{
    width: 16px;
    height: 16px;
    background: url('img/price-loader.gif') no-repeat;
    display: none;
}

#new-item .error-block{
    width: 510px;
    margin: 10px auto 0 auto;
    background: #e6e0bf;
    .border-radius(4px, 4px, 4px, 4px);
    border: 1px solid #938c8c;
    padding: 5px 10px 3px;
    display: none;
}

#new-item .error-block ul{margin-left: 40px; list-style-type: circle}
#new-item .error-block li{
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin-bottom: 5px;
}

#new-item .load-status{
    margin: 10px auto;
    width: 220px;
    display: none;
}

#new-item .load-status .status{
    text-align: center;
    color: #F75C00;
    font-weight: bold;
    font-size: 18px;
}


#profile_list{
    width: 100%;
    font-size: 12px;
}

#profile_list thead th{
    height: 50px;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    border-bottom: 1px solid #6c6666;
}

#profile_list td.photo img{height: 80px;}